{% extends '/base/base.html' %}

{% block content %}
<div class="container">
    <div class="container justify-content-center">
        <h3 class="display-3">Remote Transfer Tool</h3>
    </div>
    <div class="container">
        <table class="table" style="height: 200px;">
            <thead>
              <tr>
                <th scope="col">Account #</th>
                <th scope="col">Name</th>
                <th scope="col">New/Old</th>
                <th scope="col">To/From Account #</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
            </tbody>
          </table>

    </div>
</div>


{% endblock %}