{% extends '/base/base.html' %}

{% block content %}

<style>
    </style>

<div class="container">
    <div class="container justify-content-center">
        <div class="row">
            <h2 class="display-2">Account View!</h2>
        </div>
        <hr>
        <div class="row justify-content-center">
            <div class="col col-6">
                <div class="container">
                    <h3 class="display-3">Old Account:</h3>
                    {% with form=old_account %}
                        {% include '/base/base-form.html' %}
                    {% endwith %}
                </div>
                
            </div>
            <div class="col col-6">
                <div class="container">
                    <h3 class="display-3">New Account:</h3>
                    {% with form=new_account %}
                        {% include '/base/base-form.html' %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/disable.js" ></script>


{% endblock %}