{% extends '/base/base.html' %}

{% block content %}

<div class="container" style="color: darkslategray;">
    <div class="container justify-content-center">
        <div class="container">
            <h3 class="display-3">Enter New account Info</h3>
        </div>
        <div class="container">
            <form method="POST" id="user_form">
                {{ form.hidden_tag() }}
                <ul class="list-group" style="color: darkslategray;">
                  {% for field in form if field.widget.input_type != 'hidden' %}
                      <li class="list-group-item">
                        {% for error in field.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
            
                        {% if field.type != RadioField and field.type != TextAreaField %}
                            {{ field.label(class_="form-label") }}
                            {{ field(class_="form-control") }}
                        {% elif field.type == RadioField %}
                            {{field}}
                            <!-- {{field.label(class_="form-label")}}
                                {% for sub in field %}
                                
                                        {{ sub(class_="form-check-input") }}
                                        {{ sub.label(class_="form-check-label") }}
                                    
                                
                                {% endfor %} -->
                            
                            
                              
                                
                            </div>
                        {% elif field.type == TextAreaField %}
                            <div class="form-floating">
                              {{ field(class_="form-control", style="width: 300px;") }}
                              {{ field.label(class_="form-label") }}
                            </div>
                        {% endif %}
                    
                  <br>
                    </li>
                  {% endfor %}
                      
                      
                </ul>
                
            
                <button class="btn btn-primary btn-lg btn-block">Submit</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}